.root {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  background-image: url("https://static.pexels.com/photos/96715/pexels-photo-96715.jpeg");
  background-size: cover;
  flex: 1;
}

.rooter {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  background-image: url("https://static.pexels.com/photos/96715/pexels-photo-96715.jpeg");
  background-size: cover;
  flex: 1;
}

.card {
  border: 1px solid #b3b3b3;
  border-top: 0px;
  border-bottom: 1px solid #e6e6e6;
  padding: 5px;
  width: 1000px;
  color: black;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-bottom: 60px;
  margin-top: 60px;
  background-color: white;
  display:'flex';
  align-items: 'center';
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  justify-content: center;
}

.infoCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info{
  flex: 2;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 100%;
}

.banner {
  color: white;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.flexcontainer{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* You can set flex-wrap and flex-direction individually */
  -webkit-flex-direction: column;
  flex-direction: column;
}
