.mode {
  color: black;
}

.mode:hover {
  color: blue;
  text-decoration: underline;
}

.title {
    font-family: cijkd0edu00060rx52bmf77g8;
    font-weight: 1000;
    webkit-font-smoothing: antialiased;
    font-size: 5em;
    align-items: center;
}

.head {
  align-self: center;
  max-width: 40%;
  height: auto;
}

.modal {
  font-family: 'Lato', sans-serif;
}

.card {
  width: 800px;
  font-family: 'Roboto', sans-serif;
}

.top {
  color: #228B22;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
}

/*.card {
  border: 1px solid #b3b3b3;
  border-top: 0px;
  border-bottom: 1px solid #e6e6e6;
  padding: 5px;
  width: 800px;
  color: white;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-bottom: 10px;
  background-color: #C0C0C0;
  display:'flex';
  align-items: 'center';
  justify-content: center;
}*/

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pop {
  color: white;
}

.map {
  width: 100%;
  height: 400px;
  background-color: grey;
  height: 450;
  display: flex;
  margin: 10px;
  border: 3px solid #228B22;
  align-self: center;
}

.headcont {
  display: flex;
  flex-direction: row;
}

img {
  width: 250px;
  height: 250px;
  flex: 1;
  border: 1;
  display: block;
  object-fit: cover;
  margin: 10px;
  border: 3px solid ##C0C0C0;
}


.link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
  font-family: "Roboto", sans-serif;
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: #228B22;
  color: white;
  margin-bottom: 8px;
}


.link:hover {
  color: white;
  text-decoration: underline;
}

.ballot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  /*padding: 10px 30px;*/
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  background-color: white;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 10px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.butt {
  align-self: flex-end;
}

.toggled {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  /*padding: 10px 30px;*/
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  position: relative;
  z-index: 1;
  margin: 10px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.date {
  font-family: 'Lato', sans-serif;
}

.banner {
  color: white;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
}

.root {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  background-image: url("https://scontent-lax3-2.xx.fbcdn.net/v/t31.0-8/17880057_1005883869512280_2672757500595292705_o.jpg?oh=d896a7760c7feae53fd6dac05e9403db&oe=59F61E1A");
  background-size: cover;
  flex: 1;
}

.cont {
  font-family: "Lato", sans-serif;
  /*background-image: url("https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/18011134_1016663535100980_507325607316796514_n.jpg?oh=6330a124653656d58dff6c30ba98b336&oe=59FB0B51");
  background-size: cover;
  flex: 1;*/
  background-image: url("https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/18011134_1016663535100980_507325607316796514_n.jpg?oh=6330a124653656d58dff6c30ba98b336&oe=59FB0B51");
  background-size: cover;
  flex: 1;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
