.root {
  /*background: #228B22; original*/
  background: white;
  color: #fff;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 20px 0;
  justify-content: space-between;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: $max-content-width;
  display: flex;
  flex-direction: row;
}


.brand {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
  border: 1;
  border-color: inherit;
  align-self: flex-start;
}

.brandTxt {
  /*color: rgba(255, 255, 255, 1);original*/
  color: #228B22;
  margin-left: 10px;
  // font-family: 'Noe Display Bold', sans-serif;
  // font-family: 'RelayCond', Arial, serif;
  font-weight: bold;
  font-size: 1.75em;
  text-decoration: none;
}

.brand:hover,
.brandTxt:hover {
  text-decoration: underline;
}

.nav {
  float: right;
  margin-top: 6px;
}

.banner {
  text-align: center;
  flex: 2;
  align-self: flex-end;
}
.link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.25em; /* ~18px */
  color: grey;
}

.link:hover {
  /*color: rgba(255, 255, 255, 1);*/
  text-decoration: underline;
  color: grey;
}

.sign {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.25em;
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, .15);
  text-decoration: none;
}

.highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  font-size: 1.25em;
  background: #228B22;
  padding: 3px;
  color: white;
  text-decoration: none;
}

.highlight:hover {
  text-decoration: underline;
  color: white;
}


.cont {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  color: grey;
}

.bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 2em;
  line-height: 1em;
}

.bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, .5);
  font-size: 1.25em;
  margin: 0;
}
