.root {
  background: white;
  color: #fff;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: $max-content-width;
  display: flex;
  flex-direction: row;
}

.logoName {
  color: rgb(80, 175, 80);
  font-size: 40px;
  font-family: 'Amiko', sans-serif;
  padding: 40px 0 20px 40px;
}

.logoName:hover {
  color: rgb(39, 40, 46);
}

.nav {
  float: right;
  margin-top: 6px;
}

.banner {
  text-align: center;
  flex: 2;
  align-self: flex-end;
}

.link {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  margin: 40px 50px 20px 0;
  font-size: 20px;
  color: grey;
  text-decoration: none;
}

.link:hover {
  color: rgb(39, 40, 46);
}

.highlight {
  border-radius: 36px;
  background: rgb(80, 175, 80);
  padding: 8px 14px;
  margin: 32px 50px 20px 0;
  color: white;
}

.highlight:hover {
  color: rgb(39, 40, 46);
}

.sign {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.25em;
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, .15);
  text-decoration: none;
}


.cont {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  color: grey;
}

.bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 2em;
  line-height: 1em;
}

.bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, .5);
  font-size: 1.25em;
  margin: 0;
}
